pandas
PyMuPDF
faiss-cpu
sentence-transformers
Flask
Flask-Cors
ollama
firebase-admin
fastapi
uvicorn[standard]
python-multipart
aiofiles
pymongo
Werkzeug
Flask-Session
python-dotenv
pytube
requests
httpx
PyJWT
google-generativeai